html 
    head 
        title="Vista de datos en PUG"
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css')
        
    body 
        block partial
