<link rel="stylesheet" href="css/estilos.css">
<div class="container mt-3">
    <div class="jumbotron">
        <h1>Login de Usuario</h1>
        <br>

        <!-- <form action="/api/productos/guardar" method="POST" autocomplete="off"> -->
        <form action="/login" method="post" autocomplete="off">
            <!-- Campo nombre del producto -->
            <div class="form-group">
                <label for="nombre">Ingrese su nombre</label>
                <input id="nombre" class="form-control" type="text" name="nombre" required>
            </div>

            <!-- Botón de envío -->
            <button class="btn btn-success mt-3">Enviar</button>
        </form>
    </div>
</div>