<link rel="stylesheet" href="css/estilos.css">

<div class="container my-5">
        <div class="jumbotron">
            <h1>Login de Usuario</h1>
            <br>

            <div class="form-group">
                <input class="btn btn-primary my-3" type="submit" value="Login con Facebook" onclick="location.href = '/auth/facebook'">
            </div>
        </div>
    </div>
  </div>